.jumbotron {
  padding-top: 8rem;
  background-color: #f4e4e8;
}

.jumbotron h1, p {
  color: #66272c;
}

#gallery {
  background-color: #f4e4e8;
}

section {
  padding-top: 6rem;
}

h2, label {
  color: #66272c;
}